<main>
  <div class="container">
  
    <div class="row">
      <h2 class="center-align">All pets</h2>
      <p class="center-align">Find all the pets looking for a loving home today!</p>
      <p class="center-align">Click on my name below to find out more about me!</p>
    </div>

   <div class="row">
      <div class="carousel">
        {{#each pets}}
        <a class="carousel-item center" href="/pet/{{this.id}}"><img src="/images/{{this.type}}-generic.jpeg">{{this.name}}</a>
        {{/each}}
      </div>
   </div>

    <div class="row">
      <div class="s12">
        <ul class="collection" id="all-pets-list">
          {{#each pets}}
          <li class="collection-item center-align">
            <a href="/pet/{{this.id}}">{{this.name}} | {{this.type}}</a>
          </li>
          {{/each}}
        </ul>
      </div>
    </div>

</main> 
