<main>
  <div class="container">
  
    <div class="row">
      <h2>All pets for user {{user.name}}</h2>
    </div>
  
    <ul class="collection" id="pet-list">
      {{#each pets}}
      <li class="collection-item" data-id={{this.id}}>
        <a href="/pet/{{this.id}}">{{this.name}} | {{this.type}}</a>
        <a href="" class="secondary-content delete"><i class="material-icons">delete</i></a>
      </li>
      {{/each}}
    </ul>
  
  </div>
  
  <!-- Page-specific JS -->
  <script src="/js/pet.js"></script>
</main>
