<main class="all-list">
  <div class="container">

    <div class="row">
      <h2 class="center-align">We're all looking for loving homes!</h2>
      <h4 class="center-align">Click on our pictures or scroll through the list below to find out more about us!</h4>
      {{!-- <h5 class="center-align">Click on our pictures or scroll through the list below to find out more about us!</h5> --}}
    </div>

    <div class="row">
        <div class="carousel">
          {{#each pets}}
          <a class="carousel-item center" href="/pet/{{this.id}}">
            <img src="/images/{{this.type}}-{{this.gender}}-generic.jpg">{{this.name}}
          </a>
          {{/each}}
        </div>
    </div>

    <div class="row">
      <div class="col s12 m10 offset-m1 center-align">
        <table class="z-depth-4">
          <tr>
            <th></th>
            <th>Name</th>
            <th>Type</th> 
            <th>Breed</th>
            <th>Age</th>
          </tr>
          {{#each pets}}
            <tr>
              <td></td>
              <td><a href="/pet/{{this.id}}">{{this.name}}</a></td>
              <td>{{this.type}}</td> 
              <td>{{this.breed}}</td>
              <td>{{this.age}}</td>
            </tr>
          </a>
          {{/each}}
        </table>
      </div>
    </div>
  </div>
</main> 
