<main class="info-page">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card pet-card">
          <div class="card-image">
            <img src="/images/{{pet.type}}-{{pet.gender}}-generic.jpg">
            <span class="card-title">{{pet.name}}</span>
          </div>
          <div class="card-content">
            {{!-- <span class="card-title">{{pet.name}}</span> --}}
            <p><strong>Name</strong>: <span>{{pet.name}}</p></span>
            <p><strong>Type</strong>: <span>{{pet.type}}</span></p>
            <p><strong>Gender</strong>: <span>{{pet.gender}}</span></p>
            <p><strong>Age</strong>: <span>{{pet.age}}</span></p>
            <p><strong>Breed</strong>: <span>{{pet.breed}}</span></p>
            <p><strong>Description:</strong> {{pet.description}}</p>
            <div class="card-action">
              <a class="left" href="/user/{{pet.UserId}}">Contact User</a>
              <a class="right" href="/all-pets">All Pets</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
